/* Start Variables */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

/* Start Global Rules */
body {
    font-family: var(--font-base),sans-serif;
    background-color: var(--color-base2);
    color: var(--color-body);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
a:hover {
    color: var(--color-brand);
}
img {
    width: 100%;
}
/* End Global Rules */

/* Start Navbar */
.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.navbar .nav-link:hover {
    color: var(--color-brand)
}


@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
        border-right: 3px solid var(--color-brand)
    }
    .navbar-brand img {
        border: 8px solid var(--color-brand)
    }
}
/* End Navbar */




